doctype html
html
  head
    style
      include style.css
  body
    p Heipä hei!
    p Perustettu uusi hanke: #{planNumber} / "#{projectName}"
    p
      | Valmistelija: #{author}
      br
      | Alue/kaupunginosa: #{zone}
      br
      | Kortteli/tontti: #{lotNumber}
      br
      | Osoitteet: #{addresses}
    p Terveisin #{signatureFrom}
