doctype html
html
  head
    style
      include style.css
  body
    if !production
      p Hannassa muutettu testihanke, älä huomioi
    p Hankkeen #{detailplanId} / "#{projectName}" tietoja on muutettu
    p
      a(href=`${projectPageUrl}` target='_blank') Siirry hankesivulle
    p
      | Valmistelija: #{preparer}
      br
      | Alue/kaupunginosa: #{district}
      br
      | Kortteli/tontti: #{blockName}
      br
      | Osoitteet: #{addressText}
      br
      | Diaarinumero: #{diaryId}
    p Terveisin #{signatureFrom}
